@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);
  box-sizing:border-box;
}


.song-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  margin: 2rem;
  margin-bottom: 10rem;
}